.carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
    overflow: hidden;
}

.track {
    display: flex;
    gap: 1em;
    animation: scroll-left linear infinite;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    width: max-content;
}

.track:hover .track > div {
    animation-play-state: paused;
}

.card {
    flex: 0 0 auto;
    padding: 1em;
    background: cornflowerblue;
    font-size: 1rem;
    border-radius: .2em;
    white-space: nowrap;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
