.scrolling-text-container {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
}

.scrolling-text-container:: -webkit-scrollbar {
    display: none;
}

.scrolling-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
} 

.scrolling-text-item {
    flex: 0 0 35em;
    height: 1.5em;
    padding: 0.1em;
    font-size: 1rem;
    text-align: center;
    align-content: center;
}

.scrolling-text-item:last-child {
    margin-right: 0;
}

.scrolling-text-container:hover .scrolling-text-inner > div {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
       transform: translateX(0);
    }
 
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    
    100% {
        transform: translateX(0%);
    }
}
