@import 'tailwindcss';

:root {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(229, 215, 189);
  --navbar-height: 80px;
  --font-brick: 'Brick', sans-serif;
  font-family: var(--font-brick);
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary);
  background-color: var(--primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Brick';
  src: url("./assets/fonts/NTBrickSans.otf") format("opentype"),
    url("./assets/fonts/NTBrickSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  padding: 1rem 15rem;
  background-color: #111;
  color: white;
}

.page_content {
  padding: 2rem;
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}